body {
    background-color: 	#e26666;
    cursor: url('images/pencil.png'), auto;
    
}
.container{
  width: 1800px;
  height: 1000px;
  display:flex;
  
}
.mainbox{
    width: 500px;
    height: 800px;
    border: none;
    background-image: url('images/easel.png');
    background-repeat: no-repeat;
    background-size: 500px;
    display: absolute;
  
    
}
.textbox{
    margin-top: 200px;
    margin-left: 100px;
    width: 300px;
    background: none;
    height:400px;
    display: absolute;
}