.container{
    background-color: rgb(157, 76, 90);
}


.collapsible{
    background: #fff;
    color: #7e75f6;
    font-weight: 700;
    text-decoration: underline;
    font-family:'';
    padding: 18px;
    width: 200px;
    border: none;
    text-align: center;
    font-size: 15px;
    box-shadow: inset 0 0 10px #c682ee;
}
.active, .collapsible:hover {
    background-color: #ccc;
  }


.column {
    float: left;
    height: 700px;
    margin-top: 100px;
    width: 300px;
}

.left, .right {
    width: 50%;
}

.middle {
    width: 0%;
  }

.row {
margin-left: 0px;
margin-right: auto;
display: block;
}

.row:after {
content: "";
display: table;
clear: both;
}