.embroiderybox{
    margin-top: 10px;
    display: inline-block;
    flex-direction: column;
    width: 600px;
    height: 1500px;
    background-color: #a3e8c3;
}

.collapsible{
    background: #fff;
    color: #7e75f6;
    font-weight: 700;
    text-decoration: underline;
    font-family: 'MS Gothic';
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    font-size: 15px;
    box-shadow: inset 0 0 10px #c682ee;
}
.active, .collapsible:hover {
    background-color: #ccc;
  }
.content{
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    width: 464px;
    font-family: 'MS Gothic';
    text-align: justify;
    background-color: #fff;
    box-shadow: inset 0 0 10px #8bcd37;
    transition: max-height .2s ease-out;
}
button {
    appearance: auto;
    display: inline-block;

}
.tab {
    float: left;
    border: 1px solid #3fd786;
    background-color: #06b4cf;
    height: 900px;
    width: 30%;

}
.tab button {
    display: block;
    background-color:inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #af39a4;
    text-align: left;
    width: 100%;
}
.tab button:hover {
    background-color:#3d6ccb ;

}
.tab button.active {
    background-color: rgb(100, 104, 218);
}
.tabcontent{
    float: left;
    padding: 0px 12px;
    border: 1px solid #b82c80;
    border-left: none;
    background-color: rgb(150, 58, 200);
    width: 65%;
    height: 900px;
}
