body {
   background-image: url(images/grassbackground.jpeg);
    
}


.bigbox{
    display: inline;
    width: 90%;
    height: 700px;
    margin-left: 30%;
    border-style: solid;
   
}

.rightbox{
    display: inline;
    width: 200px;
    height: 700px;
    border-style: solid;
}

.adventures{
    display: flex;
    width: 250px;
    height: 250px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}




.container{
    display: flexbox;
    flex-direction: column;
    position: absolute;
    width:90%;
    height: 1300px;
    border: none;
    

}

.mainbox{
    width: 90%;
    height: 1100px;
    margin-left: 25%;

    flex-direction: column;
    position: absolute;

    
}

.iframe.mainbox{
    width: 90%;
    height: 1100px;
    margin-left: 25%;

    flex-direction: column;
    position: absolute;
}

.menu{
    position: absolute;
    width:22%;
    height: 1200px;
    border: 10px;
    margin-top: 10px;
    background-image:url(images/bookshelves\ menu.png);
    background-size: cover;
    
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 100px;
    height: 200px;
  }
  
#mydivheader {
    width: 100px;
   
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}


.x-button{
    float: right;
    background-color: var(--light);
}



