body {
    background-color: 	#e26666;
    cursor: url('images/pencil.png'), auto;
    
}
.container{
    width: 1200px;
    height: 700px;
    position: absolute;
    
}
.mainbox{
    
    width:600px ;
    height: 500px;
    position: absolute;
border-color: aqua;
border-style: groove;
border-width: 5px;
    margin-left: 60px;
    margin-top: 60px;
    margin-left: 25%;

}

.photo1 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 17%;
    margin-top: 60px;
}
.photo2 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 17%;
    margin-top: 175px;
}
.photo3 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 17%;
    margin-top: 300px;
}
.photo4 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 17%;
    margin-top: 420px;
}
.photo5 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 908px;
    margin-top: 60px;
}
.photo6 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 908px;
    margin-top: 175px;
}
.photo7 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 908px;
    margin-top: 300px;
}
.photo8 {
    display: flexbox;
    width:50px ;
    height: 50px;
    position: absolute;
    background-size: 100px;
    margin-left: 908px;
    margin-top: 420px;
}

.tab {

    border: 1px solid #3fd786;
    background-color: #06b4cf;
    overflow: hidden;
   

}
.tab button {
    display: block;
    background-color:inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #af39a4;
    float: left;
    
}
.tab button:hover {
    background-color:#3d6ccb ;
}
.tab button.active {
    background-color: rgb(100, 104, 218);
}
.tabcontent{
    float:left;
    padding: 2px 12px;
    border: 1px solid #b82c80;
    border-top: none;
    background-color: rgb(150, 58, 200);
    width: 96%;
    height: 450px;
    overflow: hidden;
}
