body{
    background-color: 	#e26666;
    cursor: url('images/pencil.png'), auto;
}
.container{
    width: 800px;
    height:600px;
}
.mainbox{
    height: 1000px;
    width: 550px;
    background-size: 915px;
    background-repeat: no-repeat;
    overflow: scroll;

}