body {
    background-color: 	#FF0000;
}
.gleeslushiebox {
    display: absolute;
    width: 100px;
    height: 650px;
}
.gleebox {
    display: flexbox;
    width: 400px;
    height: 650px; 
    background-color: yellow;
    float: right;
   
}