body {
   background-image: url(images/grassbackground.jpeg);
    
}


.bigbox{
    display: inline;
    width: 600px;
    height: 700px;
    margin-left: 200px;
    border-style: solid;
   
}

.rightbox{
    display: inline;
    width: 200px;
    height: 700px;
    border-style: solid;
}

.adventures{
    display: flex;
    width: 250px;
    height: 250px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.tab {
    float: left;
    border: 1px solid #3fd786;
    background-color: #06b4cf;
    height: 900px;
    width: 30%;

}
.tab button {
    display: block;
    background-color:inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #af39a4;
    text-align: left;
    width: 100%;
}
.tab button:hover {
    background-color:#3d6ccb ;

}
.tab button.active {
    background-color: rgb(100, 104, 218);
}
.tabcontent{
    float: left;
    padding: 0px 12px;
    border: 1px solid #b82c80;
    border-left: none;
    background-color: rgb(150, 58, 200);
    width: 65%;
    height: 900px;
}


.container{
    display: flexbox;
    flex-direction: column;
    position: absolute;
    width:1500px;
    height: 2000px;
    border: none;
    

}

.mainbox{
    width: 1000px;
    height: 1100px;
    margin-left: 350px;

    flex-direction: column;
    position: absolute;

    
}

.iframe.mainbox{
    width: 1000px;
    height: 1100px;
    margin-left: 350px;

    flex-direction: column;
    position: absolute;
}

.menu{
    position: absolute;
    width:300px;
    height: 1200px;
    border: 10px;
    margin-top: 10px;
    background-image:url(images/bookshelves\ menu.png);
    background-size: cover;
    
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 100px;
    height: 200px;
  }
  
#mydivheader {
    width: 100px;
   
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}


.x-button{
    float: right;
    background-color: var(--light);
}



.watercolorbox{
    margin-top: 10px;
    display: inline-block;
    flex-direction: column;
    width: 600px;
    height: 1000px;
    background-color: #a3e8c3;
}